<% content_for :title, "New reply" %>

<h1 class="mb-4">New Reply</h1>

<%= render "form", reply: @reply %>

<div class="mt-4">
  <%= link_to "Back to post", Post.find(@reply.post_id), class: "btn btn-secondary" %>
</div>
