<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Posts" %>

<h1 class="text-center my-4">Posts</h1>

<div id="posts" class="row">
  <% @posts.each do |post| %>
    <%= render partial: "post_preview", locals: {post: post}%>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to "New post", new_post_path, class: "btn btn-success" %>
</div>
